@import "tailwindcss";

@theme inline {
  /* ===========================
    COLORS
  =========================== */

  /* Natural Colors */
  --color-light: var(--light);
  --color-light-hover: var(--light-hover);
  --color-light-active: var(--light-active);

  --color-normal: var(--normal);
  --color-normal-hover: var(--normal-hover);
  --color-normal-active: var(--normal-active);

  --color-dark: var(--dark);
  --color-dark-hover: var(--dark-hover);
  --color-dark-active: var(--dark-active);
  --color-darker: var(--darker);

  /* Primary Colors */
  --color-primary-light: var(--primary-light);
  --color-primary-light-hover: var(--primary-light-hover);
  --color-primary-light-active: var(--primary-light-active);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-hover: var(--primary-dark-hover);
  --color-primary-dark-active: var(--primary-dark-active);
  --color-primary-darker: var(--primary-darker);

  /* Secondary Colors */
  --color-secondary-light: var(--secondary-light);
  --color-secondary-light-hover: var(--secondary-light-hover);
  --color-secondary-light-active: var(--secondary-light-active);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);

  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-dark-hover: var(--secondary-dark-hover);
  --color-secondary-dark-active: var(--secondary-dark-active);
  --color-secondary-darker: var(--secondary-darker);

  /* Info Colors */
  --color-info-light: var(--info-light);
  --color-info-light-hover: var(--info-light-hover);
  --color-info-light-active: var(--info-light-active);

  --color-info: var(--info);
  --color-info-hover: var(--info-hover);
  --color-info-active: var(--info-active);

  --color-info-dark: var(--info-dark);
  --color-info-dark-hover: var(--info-dark-hover);
  --color-info-dark-active: var(--info-dark-active);
  --color-info-darker: var(--info-darker);

  /* Warning Colors */
  --color-warning-light: var(--warning-light);
  --color-warning-light-hover: var(--warning-light-hover);
  --color-warning-light-active: var(--warning-light-active);

  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);
  --color-warning-active: var(--warning-active);

  --color-warning-dark: var(--warning-dark);
  --color-warning-dark-hover: var(--warning-dark-hover);
  --color-warning-dark-active: var(--warning-dark-active);
  --color-warning-darker: var(--warning-darker);

  /* Success Colors */
  --color-success-light: var(--success-light);
  --color-success-light-hover: var(--success-light-hover);
  --color-success-light-active: var(--success-light-active);

  --color-success: var(--success);
  --color-success-hover: var(--success-hover);
  --color-success-active: var(--success-active);

  --color-success-dark: var(--success-dark);
  --color-success-dark-hover: var(--success-dark-hover);
  --color-success-dark-active: var(--success-dark-active);
  --color-success-darker: var(--success-darker);

  /* Danger Colors */
  --color-danger-light: var(--danger-light);
  --color-danger-light-hover: var(--danger-light-hover);
  --color-danger-light-active: var(--danger-light-active);

  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);
  --color-danger-active: var(--danger-active);

  --color-danger-dark: var(--danger-dark);
  --color-danger-dark-hover: var(--danger-dark-hover);
  --color-danger-dark-active: var(--danger-dark-active);
  --color-danger-darker: var(--danger-darker);

  /* ===========================
    TYPOGRAPHY
  =========================== */
  --text-display: var(--display-size);

  --text-h1: var(--h1-size);
  --text-h2: var(--h2-size);
  --text-h3: var(--h3-size);
  --text-h4: var(--h4-size);
  --text-h5: var(--h5-size);
  --text-h6: var(--h6-size);

  --text-body-sm: var(--body-sm);
  --text-body-md: var(--body-md);
  --text-body-lg: var(--body-lg);

  /* ===========================
    SPACING
  =========================== */
  --spacing-xs: var(--space-xs);
  --spacing-sm: var(--space-sm);
  --spacing-md: var(--space-md);
  --spacing-lg: var(--space-lg);
  --spacing-xl: var(--space-xl);
  --spacing-2xl: var(--space-2xl);
  --spacing-3xl: var(--space-3xl);
  --spacing-4xl: var(--space-4xl);

  /* ===========================
    BORDER RADIUS
  =========================== */
  --rounded-xs: var(--radius-xs);
  --rounded-sm: var(--radius-sm);
  --rounded-md: var(--radius-md);
  --rounded-lg: var(--radius-lg);
  --rounded-xl: var(--radius-xl);
  --rounded-2xl: var(--radius-2xl);
  --rounded-full: var(--radius-full);

  /* ===========================
    SHADOWS
  =========================== */
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-card: var(--shadow-card);

  /* ===========================
    Shadcn UI Setup
  =========================== */
  --font-heading: var(--font-sans);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-light: var(--text-light);
  --color-overlay: var(--overlay);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}
